body {
  background-image: linear-gradient(white, #fff0af);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.border {
  border: solid;
  border-color: FDF2A3;
  border-width: 10px; 
  border-radius: 11px;
}

.button3 {
	width: 200px;
	height: 100px;
	}
.wrapper {
    text-align: center;
    margin: 0 auto;
}

.button {
  background-color: #fff0af;
  border: solid;
  border-color: red;
  border-width: 3px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto?
  margin-bottom: 0;
  width: 60%;
}

}

p1 {
	position: absolute;
	right: 36%;
	top: 58%;
	font-size: 50px;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 2px solid;
  text-align: center;
  font-size: 40px;
}

.button2 {
  background-color: #fff0af;
  font-size: 50%;
}

